:root {
  --primari-text-color: #ffffff;
  --title-text-color: #434455;
  --accent-color: #2e2f42;
  --button-fon-color: #404bbf;
  --button-text-color: #4d5ae5;
  --button-fon-pasiv: #e7e9fc;
  --knopka-fon: #f4f4fd;
}
.body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--title-text-color);
  background-color: var(--primari-text-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.link-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.link-nav:hover {
  color: var(--button-fon-color);
}
.link-nav:focus {
  color: var(--button-fon-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  text-transform: uppercase;
}
.logofooter {
  color: var(--knopka-fon);
}
.web-logo {
  color: var(--accent-color);
}

/* маил тел */
.adress {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.adress:hover {
  color: var(--button-fon-color);
}
.adress:focus {
  color: var(--button-fon-color);
}

/* button */
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px ;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-text-color);
  box-sizing: border-box;
  padding: 12px 24px;
  background: var(--knopka-fon);
  border: 1px solid var(--button-fon-pasiv);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  color: var(--primari-text-color);
  background-color: var(--button-fon-color);
}
.button:focus {
  color: var(--primari-text-color);
  background-color: var(--button-fon-color);
}
/* content */
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* futer */
.bgc {
  background: var(--accent-color);
}
.footer {
  color: var(--knopka-fon);
}
.hero {
  background: var(--accent-color);
}
.hero .text {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}
.buttonone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primari-text-color);
  background-color: var(--button-text-color);
  cursor: pointer;
}
.buttonone:hover {
  background-color: var(--button-fon-color);
}
.buttonone:focus {
  background-color: var(--button-fon-color);
}
.firsth {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  white-space: nowrap;
}
.fon-bgc {
  background: var(--knopka-fon);
}
.par-index {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.li-index {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  background-color: var(--primari-text-color);
}
.li-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.telm {
  font-style: normal;
}
.pag {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
